

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.9rem;
  background-color: #1e293b;
  color: white;
}

.user-list {
  font-size: 1.9rem;
  max-width: 700px;
  border: 1px solid grey;
  padding: 10px 8px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
